<%- include('../layout', { title: 'Economic Calendar', user: user }) %>
<div class="container mt-4">
  <h2>Economic Calendar</h2>
  <p>Upcoming economic events and announcements will be listed here soon.</p>
</div>