<%- include('../layout', { title: 'Market Heatmap', user: user }) %>
<div class="container mt-4">
  <h2>Market Heatmap</h2>
  <p>The market heatmap will visually represent market movers and trends. Stay tuned!</p>
</div>