<%- include('../layout', { title: 'Top Movers', user: user }) %>
<div class="container mt-4">
  <h2>Top Movers</h2>
  <p>See the top gainers and losers in the market here. More data coming soon!</p>
</div>