<%- include('../layout', { title: 'Market Sectors', user: user }) %>
<div class="container mt-4">
  <h2>Market Sectors</h2>
  <p>Sector-wise market performance and analytics will be available here soon.</p>
</div>