<%- include('../layout', { title: 'Market Indices', user: user }) %>
<div class="container mt-4">
  <h2>Market Indices</h2>
  <p>Track the performance of major market indices here. More details and analytics coming soon!</p>
</div>