<%- include('../layout', { title: 'Market Overview', user: user }) %>
<div class="container mt-4">
  <h2>Market Overview</h2>
  <p>Welcome to the Market Overview. Here you will find a summary of the current market status, trends, and highlights. More features coming soon!</p>
</div>